GEMINI_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=ap-south-1
AWS_S3_BUCKET=
AWS_CDN_BASE_URL=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=tts_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SSL=disable
# DB_CA_CERT_PATH=./secrets/ca.cert

CORS_ALLOWED_ORIGIN_PATTERNS=*